<!--<app-box>-->
<!--  &lt;!&ndash;  Bloop!&ndash;&gt;-->
<!--  &lt;!&ndash;  <span style="background-color: aquamarine">Fun Stuff</span>&ndash;&gt;-->
<!--  &lt;!&ndash;  <app-box></app-box>&ndash;&gt;-->
<!--&lt;!&ndash;  <div first #firstRef>Trapped in a box! Please Help!</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div second>Don't trust him, he's an imposter!</div>&ndash;&gt;-->
<!--  &lt;!&ndash;  <ng-container ngProjectAs="[first]">I'm Projecting!</ng-container>&ndash;&gt;-->
<!--</app-box>-->

<!--<app-box>-->
<!--  <app-list [items]="['thing 1', 'thing 2', 'thing 3']"></app-list>-->
<!--</app-box>-->
<div style="border: thin solid black; margin: 25px; padding: 5px">
  <app-table-the-first></app-table-the-first>
</div>

<div style="border: thin solid black; margin: 25px; padding: 5px">
  <app-table-the-second></app-table-the-second>
</div>
